# SPDX-FileCopyrightText: 2023 Davide Paro
#
# SPDX-License-Identifier: MIT

export PYTHONDONTWRITEBYTECODE=0          # Stops creating __pycache__ dir if set to 1

export VIRTUAL_ENV="$PWD/.venv"
export PATH="$PWD/.venv/bin:$PWD/.local/bin:$PATH"
unset PYTHONHOME

export PYTHONPATH="$PWD/src/python3:$PYTHONPATH"
export MYPYPATH="$PWD/src/python3:$MYPYPATH"
